27. SOAP, JAX-WS/client/src/main/java/ws/persons.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://inno.ru/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="PersonsService" targetNamespace="http://inno.ru/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://inno.ru/" targetNamespace="http://inno.ru/" version="1.0">

  <xs:element name="Person" type="tns:person"/>

  <xs:complexType name="person">
    <xs:sequence>
      <xs:element minOccurs="0" name="surname" type="xs:string"/>
      <xs:element minOccurs="0" name="personName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType final="#all" name="personArray">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="item" nillable="true" type="tns:person"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="addPersonResponse">
    <wsdl:part name="Person" type="tns:person">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAwesomePersons">
  </wsdl:message>
  <wsdl:message name="getAwesomePersonsResponse">
    <wsdl:part name="Person" type="tns:personArray">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addPerson">
    <wsdl:part name="awesomePerson" type="tns:person">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="PersonsService">
    <wsdl:operation name="addPerson">
      <wsdl:input message="tns:addPerson" name="addPerson">
    </wsdl:input>
      <wsdl:output message="tns:addPersonResponse" name="addPersonResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAwesomePersons">
      <wsdl:input message="tns:getAwesomePersons" name="getAwesomePersons">
    </wsdl:input>
      <wsdl:output message="tns:getAwesomePersonsResponse" name="getAwesomePersonsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PersonsServiceSoapBinding" type="tns:PersonsService">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="addPerson">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="addPerson">
        <soap:body namespace="http://inno.ru/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="addPersonResponse">
        <soap:body namespace="http://inno.ru/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAwesomePersons">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="getAwesomePersons">
        <soap:body namespace="http://inno.ru/" use="literal"/>
      </wsdl:input>
      <wsdl:output name="getAwesomePersonsResponse">
        <soap:body namespace="http://inno.ru/" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonsService">
    <wsdl:port binding="tns:PersonsServiceSoapBinding" name="PersonsPort">
      <soap:address location="http://localhost:8080/services/persons"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>